{% extends "store/main.html" %}
{% load static %}
{% load compress %}
{% block content %}

<div class="min-h-screen py-10">
  <div class="div-cart bg-base-100 py-10 px-5 rounded-xl">
    <button class="btn btn-primary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="15px"
        height="15px"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="m4 10l-.707.707L2.586 10l.707-.707zm17 8a1 1 0 1 1-2 0zM8.293 15.707l-5-5l1.414-1.414l5 5zm-5-6.414l5-5l1.414 1.414l-5 5zM4 9h10v2H4zm17 7v2h-2v-2zm-7-7a7 7 0 0 1 7 7h-2a5 5 0 0 0-5-5z"
        /></svg
      >Continue Shopping
    </button>
    <hr class="bg-black my-6" />
    <div
      class="flex justify-center items-center content-center justify-items-center gap-28"
    >
      <h2>Items: {{ order.get_cart_items }}</h2>
      <h2>Total: ${{ order.get_cart_total|floatformat:2 }}</h2>
      <a href="/checkout" class="btn btn-accent">Checkout</a>
    </div>
    <hr class="bg-black my-6" />
    {% for item in items %}
    <div class="cart-box py-5 text-center">
      <div>
        <img class="cart-image" src="{{ item.product.imageURL }}" alt="" />
      </div>
      <div>
        <h2>Item</h2>
        <h2>{{ item.product.name }}</h2>
      </div>
      <div>
        <h2>Price</h2>
        <h2>${{ item.product.price|floatformat:2 }}</h2>
      </div>
      <div>
        <h2>Quantity</h2>
        <h2>{{ item.quantity }}</h2>
      </div>
      <div>
        <h2>Total</h2>
        <h2>${{ item.get_total }}</h2>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
