{% extends "store/main.html" %}
{% load static %}
{% load compress %}
{% block content %}

<section class="section-store">
  <div class="max-w-[1000px] m-auto w-full py-6">
    <div
      class="bg-base-100 mt-8 space-y-3 rounded-2xl border px-2 py-4 sm:px-6"
    >
      {% for item in items%}
      <hr class="bg-black" />
      <div class="flex flex-col rounded-lg bg-base-100 sm:flex-row">
        <img
          class="m-2 h-24 w-28 rounded-md border object-cover object-center"
          src="{{ item.product.imageURL }}"
          alt=""
        />
        <div class="flex w-full flex-col px-4 py-4">
          <span class="font-semibold">{{ item.product.name }}</span>
          <span class="float-right text-gray-400"
            >${{ item.product.price|floatformat:2 }}</span
          >
          <p class="text-lg font-bold">Quantity: {{ item.quantity }}</p>
          <p class="text-lg font-bold">${{ item.get_total }}</p>
        </div>
      </div>
      <hr class="bg-black" />
      {% endfor %}
    </div>

    <!-- Shipping and payment -->

    <div
      class="max-w-[1000px] m-auto w-full py-10 my-11 bg-base-100 rounded-2xl"
    >
      <div id="shipping-info" class="grid grid-cols-2 px-6 m-auto w-full">
        <form >
          <div class="py-5 px-5 bg-slate-200 rounded-xl">
            <h2>Shipping Information</h2>
            <label for="name">Name:</label>
            <input type="text" name="name" required />

            <label for="address">Address:</label>
            <input type="text" name="address" required />

            <label for="city">City:</label>
            <input type="text" name="city" required />

            <label for="state">State:</label>
            <select name="state">
              <option value="">Select a state</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <!-- add more options as needed -->
            </select>

            <label for="zip">Zip:</label>
            <input type="text" name="zip" required />

            <label for="country">Country:</label>
            <select name="country">
              <option value="">Select a country</option>
              <option value="USA">United States of America</option>
              <!-- add more options as needed -->
            </select>

            <label for="shipping-method">Shipping Method:</label>
            <input
              type="radio"
              id="ground-shipping"
              name="shipping-method"
              value="Ground"
            />
            <label for="ground-shipping">Ground Shipping ($10)</label><br />
            <input
              type="radio"
              id="air-shipping"
              name="shipping-method"
              value="Air"
            />
            <label for="air-shipping">Air Shipping ($20)</label><br />
            <input
              type="radio"
              id="express-shipping"
              name="shipping-method"
              value="Express"
            />
            <label for="express-shipping">Express Shipping ($30)</label>

          </div>
          
        </form>
      </div>
      <button>${{ order.get_cart_total|floatformat:2 }}</button>
      <button type="submit">Submit</button>
      <button type="reset">Reset</button>
    </div>
  </div>
</section>

<script type="text/javascript">
  var shipping = "{{ order.shipping }}";

  if (shipping == "False") {
    document.getElementById("shipping-info").innerHTML = "";
  }

  var form = document.getElementById('form')
  form.addEventListener('submit', function(e){
    e.preventDefault()
    console.log('Form submitted...')
    document.getElementById('form-button').classList.add('hidden')
    document.getElementById('payment-info').classList.remove('hidden')
  })

</script>

{% endblock content %} 
{% comment %} {%endcomment %}
