{% extends "store/main.html" %} 
{% load static %} 
{% load compress %} 
{% block content %}

<section class="section-store py-24">
  <div class="product_grid">
    {% for product in products %}
    <div class="card card-compact w-96 bg-base-100 shadow-xl">
      <figure><img src="{{ product.imageURL }}" alt="{{ product.alt }}" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{product.name}}</h2>
        <h2 class="card-title">{{ product.price|floatformat:2 }}</h2>
        <p>{{ product.product_description }}</p>
        <div class="card-actions justify-end">
          <button data-product="{{ product.id }}" data-action="add" class="btn btn-primary update-cart">Add to cart</button>
          <a href="{% url 'product_detail' slug=product.slug %}" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock content %}
